:root {
    --plum-dark: #1a0f2e;
    --gold-bright: #e8c872;
    --whitesmoke: #f4f1ea
}

body {
    background-color: var(--plum-dark);
    color: var(--whitesmoke);
    font-family: sans-serif;
    margin: 0;
}

/*lay out*/

.story-poster {
    width: 70px;
    height: 70px;
    background-color: var(--gold-bright);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:28px;
}

.stories-row {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 10px 0;
}

.story-title {
    text-align: center;
    font-size: 13px;
    margin-top: 6px;
}

.story {
    display: flex;
    flex-direction: column;
    align-items: center;
}
